/* 노말라이즈 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.row::after {
  content: "";
  display: block;
  clear: both;
}

/* 커스텀 */

.main-page {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 650px;
  text-align: center;
  background-color: #afafaf;
  margin-top: 50px;
}

/* leftside */

.side {
  float: left;
  width: 250px;
  height: 650px;
}

.side>.logo {
  width: 250px;
  height: 100px;
  background-color: #999;
}

/* 메뉴 */
.side>.menu {
  width: 250px;
  height: 550px;
  background-color: #888;
}

.side>.menu li {
  background-color: black;
  color: white;
  position: relative;
}

.side>.menu li>a {
  padding: 10px;
  display: block;
}


.side>.menu li:hover>a {
  background-color: white;
  color: black;
}

.side>.menu .submenu {
  display: none;
  position:absolute;
  width: 100%;
  /* width: 250px; */
  right: -250px;
  top: -15px;
}
.side>.menu .submenu li {
  height: 60px;
}

.side>.menu .submenu a:hover {
  background-color: gold;
  color:black;
}

.right-side {
  float: left;
  width: 750px;
  height: 650px;
  background-color: #666;
}

.slide {
  height: 350px;
  background-color: #555;
}
.contents {
  height: 200px;
  background-color: #777;
}