/* nor */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* lib */
.row::after {
  content: "";
  display: block;
  clear: both;
}

/* cus */

.main-page {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 700px;
  background-color: #afafaf;
}

/* 헤더 */
header {
  width: 1200px;
  height: 100px;

}

header>.logo {
  float: left;
  width: 250px;
  height: 100px;
  background-color: #888;
}

header>.menu {
  float: left;
  width: 950px;
  height: 100px;
  background-color: #999;
}

/* 슬라이드 */
.slide {
  width: 1200px;
  height: 300px;
  background-color: #777;
}

.contents {
  width: 1200px;
  height: 200px;
}

.contents>div {
  float: left;
  width: 400px;
  height: 200px;
}

.contents>.notice {
  background-color: #666;
}

.contents>.banner {
  background-color: #555;
}

.contents>.shortcut {
  background-color: #444;
}

footer {
  width: 1200px;
  height: 100px;
}

footer>.foot-logo {
  float: left;
  width: 250px;
  height: 100px;
  background-color: #999;
}

footer>.copyright {
  float: left;
  width: 700px;
  height: 100px;
  background-color: #888;
}

footer>.sns {
  float: left;
  width: 250px;
  height: 100px;
  background-color: #777;
}